### **Exercícios do Cápitulo 2 do curso de Análise de Dados - Data Science Academy**

#### **Lista de Exercícios**

1. Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
2. Crie uma lista de 5 objetos e imprima na tela
3. Crie duas strings e concatene as duas em uma terceira string
4. Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do objeto tupla para verificar quantas vezes o número 4 aparece na tupla
5. Crie um dicionário vazio e imprima na tela
6. Crie um dicionário com 3 chaves e 3 valores e imprima na tela
7. Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
8. Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.Imprima o dicionário na tela.
9. Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e o quarto elemento um valor do tipo float. Imprima a lista na tela.
10.  Considere a string. Imprima na tela apenas os caracteres da posição 1 a 18. "frase = 'Cientista de Dados é o profissional mais sexy do século XXI'"

In [15]:
#Exercício 1
list_of_numbers = []
for number in range(1, 10 + 1):
    list_of_numbers.append(number)
print(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
#Exercício 2
list_of_objects = ["bola", "cadeira", "cama", "computador", "notebook"]
print(list_of_objects)

['bola', 'cadeira', 'cama', 'computador', 'notebook']

In [17]:
#Exercício 3
string_one = "Ola"
string_two = "Mundo"
print(string_one + string_two)

OlaMundo

In [18]:
#Exercício 4
tuple_of_numbers = (1, 2, 2, 3, 4, 4, 4, 5)
print(tuple_of_numbers.count(4))

3

In [19]:
#Exercício 5
dict_empty = {}
print(dict_empty)

{}

In [21]:
#Exercício 6
book = {
    "autor": "Wagner Gabriel",
    "title": "Data Analitcs" 
}
print(book)

{'autor': 'Wagner Gabriel', 'title': 'Data Analitcs'}

In [24]:
#Exercício 7
book["year"] = 25
print(book)

{'autor': 'Wagner Gabriel', 'title': 'Data Analitcs', 'year': 25}

In [25]:
#Exercício 8
dict_ = {
    "a": 1,
    "b": 2,
    "c": [10, 20]
}
print(dict_)

{'a': 1, 'b': 2, 'c': [10, 20]}

In [26]:
list_of_elements = ["a", (10, 20), {"a": 1, "b": 2}, 5.0]
print(list_of_elements)

['a', (10, 20), {'a': 1, 'b': 2}, 5.0]

In [31]:
#Exercício 10
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'
print(frase[0:18])

Cientista de Dados